{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="m-5">
        Nombre d'enfants : {{ nbChild }}
    </div>
    <div class="m-5">
        Nombre de menus : {{ nbMenu }}
    </div>
        <div class="m-5">
        Nombre d'utilisateurs : {{ nbUser }}
    </div>
    <div class="m-5">
        Nombre de parents : {{ nbParent }}
    </div>
    <div class="m-5">
        Nombre d'admin : {{ nbAdmin }}
    </div>

{% endblock %}
