{% extends 'base.html.twig' %}

{% block title %}Hello ParentController!{% endblock %}

{% block body %}

    <a class="btn btn-success mb-3" href="{{ path('app_parent_add') }}">Ajouter</a>
    <table class="table table-bordered">
    {% for row in users %}
        <tr>
            <td>{{ row.firstname}} {{row.lastname}}</td>
            <td>{{ row.email }}</td>
            <td>{% for child in row.child %}
                    {{ child.firstname}} {{ child.lastname}}
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('app_parent_detail', {'id':row.id} ) }}" class="btn btn-info fa-solid fa-magnifying-glass" title="Detail"></a>
                <a href="{{ path('app_parent_edit', {'id':row.id} ) }}" class="btn btn-primary fa-solid fa-pen-to-square" title="Modification"></a>
                <a href="{{ path('app_parent_delete', {'id':row.id}) }}" class="btn btn-danger fa fa-trash" title="Supprimer"></a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
