{% extends 'base.html.twig' %}

{% block title %}Hello ParentController!{% endblock %}

{% block body %}

    <a class="btn btn-success" href="{{ path('app_parent_add') }}">Ajouter</a>

    <table class="table table-bordered">
        {% for row in users %}
            <tr>
                <td>{{ row.firstname }} {{ row.lastname }}</td>
                <td>{{ row.email }}</td>
                <td>
                    <a href="{{ path('app_parent_detail', {'id':row.id}) }}" class="btn btn-primary fa fa-eye" title="Modification"></a>
                    <a href="{{ path('app_parent_edit', {'id':row.id}) }}" class="btn btn-primary fa fa-edit" title="Modification"></a>
                    <a href="{{ path('app_parent_delete', {'id':row.id}) }}" class="btn btn-danger fa fa-trash" title="Supprimer"></a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
