{% extends 'base.html.twig' %}

{% block title %}Hello BookingController!{% endblock %}

{% block body %}

    <table class="table table-bordered">
        <tr>
            <th>Enfant</th>
            <th>Jours</th>
            <th>Prix</th>
        </tr>
        {#boucle sur le tableau contenant les enfants#}
        {% for child in tabChild %}
            <tr>
                <td>{{ child.firstname }} {{ child.lastname }}</td>
                <td>
                    {# boucle sur le tableau contenant les jours réservé de tous les enfants #}
                    {% for k, tab in tabDay %}
                        {# condition pour afficher les jours de l'enfant concerné par l'itération de la boucle principale #}
                        {% if k|replace({'date_':''}) == child.id %}
                            {# boucle pour afficher les jours réservé pour l'enfant #}
                            {% for day in tab %}
                                {# affichage du jour #}
                                {{ day }} <br/>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {# boucle sur le tableau des prix par enfants #}
                    {% for key, price in totalByChild %}
                        {# condition pur isoler le prix de l'enfant en cours dans la boucle #}
                        {% if key == child.id %}
                            {# affichage du prix concerné #}
                            {{ price }} &euro;
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">TOTAL</td>
            <td>{{totalFacture}} &euro;</td>
        </tr>
    </table>
	
{% endblock %}
